# Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Siverek,TR,2022-01-28 01:40:25,37.7550,39.3167,29.01,76,0,6.06
1,1,Aklavik,CA,2022-01-28 01:40:26,68.2191,-135.0107,-17.57,93,100,2.53
2,2,Oswego,US,2022-01-28 01:40:26,43.4501,-76.1497,28.90,57,100,1.99
3,3,Vaini,TO,2022-01-28 01:40:26,-21.2000,-175.2000,82.96,77,21,14.14
4,4,Busselton,AU,2022-01-28 01:40:27,-33.6500,115.3333,73.04,35,0,8.66

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create a Max Temp Heatmap

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [7]:
# Heamap of temperature.
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# 2. Get the max temp.
max_temp = city_data_df['Max Temp']
# temps = []
# for temp in max_temp:
#    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# Adjust Heatmap Zoom, Intensity, and Point Radius
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [8]:
# Heatmap of percent humidity.
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [9]:
# Heatmap of percent cloudiness.
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Wind Speed Heatmap

In [10]:
# Heatmap of wind speed.
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Vaini,TO,2022-01-28 01:40:26,-21.2000,-175.2000,82.96,77,21,14.14
5,5,Hilo,US,2022-01-28 01:40:27,19.7297,-155.0900,80.33,69,100,13.80
18,18,Port Augusta,AU,2022-01-28 01:40:31,-32.5000,137.7667,75.34,54,56,19.57
25,25,Rikitea,PF,2022-01-28 01:40:33,-23.1203,-134.9692,78.67,77,75,16.26
31,31,Kavaratti,IN,2022-01-28 01:40:35,10.5669,72.6420,79.14,72,49,10.07
34,34,Avarua,CK,2022-01-28 01:40:36,-21.2078,-159.7750,82.45,83,20,16.11
37,37,Pangkalanbuun,ID,2022-01-28 01:40:37,-2.6833,111.6167,84.60,69,100,4.03
39,39,Emerald,AU,2022-01-28 01:38:06,-23.5333,148.1667,86.34,48,40,13.80
42,42,Carnarvon,AU,2022-01-28 01:36:01,-24.8667,113.6333,82.47,65,0,4.61
44,44,Luanda,AO,2022-01-28 01:40:38,-8.8368,13.2343,77.14,84,100,2.95

In [14]:
preferred_cities_df.count()

City_ID       128
City          128
Country       128
Date          128
Lat           128
Lng           128
Max Temp      128
Humidity      128
Cloudiness    128
Wind Speed    128
dtype: int64

# Map Vacation Criteria

**Get Travel Destinations**

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3           Vaini      TO     82.96 -21.2000 -175.2000
5            Hilo      US     80.33  19.7297 -155.0900
18   Port Augusta      AU     75.34 -32.5000  137.7667
25        Rikitea      PF     78.67 -23.1203 -134.9692
31      Kavaratti      IN     79.14  10.5669   72.6420
34         Avarua      CK     82.45 -21.2078 -159.7750
37  Pangkalanbuun      ID     84.60  -2.6833  111.6167
39        Emerald      AU     86.34 -23.5333  148.1667
42      Carnarvon      AU     82.47 -24.8667  113.6333
44         Luanda      AO     77.14  -8.8368   13.2343

**Retrieve Hotels from a Nearby Search**

In [17]:
# Set parameters to search for a hotel.
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']

    # Add the latitude and longitude to location key for the params dictionary.
    params['location'] = f'{lat},{lng}'

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Vaini,TO,82.96,-21.2000,-175.2000,Keleti Beach Resort
5,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Port Augusta,AU,75.34,-32.5000,137.7667,Majestic Oasis Apartments
25,Rikitea,PF,78.67,-23.1203,-134.9692,People ThankYou
31,Kavaratti,IN,79.14,10.5669,72.6420,Hotels in Lakshadweep Islands
34,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
37,Pangkalanbuun,ID,84.60,-2.6833,111.6167,Grand Kecubung Hotel
39,Emerald,AU,86.34,-23.5333,148.1667,The Irish Village
42,Carnarvon,AU,82.47,-24.8667,113.6333,Hospitality Carnarvon
44,Luanda,AO,77.14,-8.8368,13.2343,Hotel Fórum

**Create a Maximum Temperature Heatmap from a Hotel DataFrame**

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]